<!DOCTYPE html>
<html>

<head>

<title>House Rent + Price Predictor</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<link rel="stylesheet"
href="{{ url_for('static', filename='style2.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="container">

<div class="header text-center mb-5">
<h1>🏠 Smart House Rent Predictor</h1>
<p>Estimate rent and property value instantly</p>
</div>

<div class="card form-card">

<form action="/predict" method="post">

<div class="row">

<div class="col-md-6 mb-3">
<label><i class="fa-solid fa-house"></i> BHK</label>
<input type="number" name="bhk" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label><i class="fa-solid fa-ruler-combined"></i> Size (sqft)</label>
<input type="number" name="size" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label><i class="fa-solid fa-bath"></i> Bathrooms</label>
<input type="number" name="bathroom" class="form-control" required>
</div>

<div class="mb-3">
<label>City</label>
<select id="city" name="city" class="form-control" onchange="updateLocality()">
<option value="">Select City</option>
<option value="Bangalore">Bangalore</option>
<option value="Hyderabad">Hyderabad</option>
<option value="Delhi">Delhi</option>
<option value="Mumbai">Mumbai</option>
</select>
</div>

<div class="mb-3">
<label>Locality</label>
<select id="locality" name="locality" class="form-control">
<option>Select City First</option>
</select>
</div>

<div class="col-md-6 mb-3">
<label><i class="fa-solid fa-building"></i> Area Type</label>
<select name="area_type" class="form-control">
<option value="Super Area">Super Area</option>
<option value="Carpet Area">Carpet Area</option>
<option value="Built Area">Built Area</option>
</select>
</div>

<div class="col-md-6 mb-3">
<label><i class="fa-solid fa-couch"></i> Furnishing</label>
<select name="furnish" class="form-control">
<option value="Unfurnished">Unfurnished</option>
<option value="Semi-Furnished">Semi-Furnished</option>
<option value="Furnished">Furnished</option>
</select>
</div>

</div>

<button class="btn btn-predict mt-4 w-100">
<i class="fa-solid fa-chart-line"></i> Predict Rent
</button>
<a href="/my_predictions" class="btn btn-outline-dark mt-3">
My Predictions
</a>

</form>

</div>

</div>

</body>
<script>

const localityData = {

Bangalore:[
"Whitefield",
"Electronic City",
"Indiranagar",
"HSR Layout"
],

Hyderabad:[
"Gachibowli",
"Banjara Hills",
"Kondapur",
"Madhapur"
],

Delhi:[
"Saket",
"Dwarka",
"Rohini",
"Lajpat Nagar"
],

Mumbai:[
"Andheri",
"Powai",
"Bandra",
"Thane"
]

}

function updateLocality(){

let city=document.getElementById("city").value
let locality=document.getElementById("locality")

locality.innerHTML=""

if(localityData[city]){

localityData[city].forEach(function(area){

let option=document.createElement("option")

option.value=area
option.text=area

locality.appendChild(option)

})

}

}

</script>
</html>